<!-- {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{% static 'assets/css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="head">
      demo
    </div>
  </body>
  {% block title %}
    aaaaa
  {% endblock title %}
  {% block content %}

  {% endblock content %}
</html> -->

{% load static i18n %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/flat-ui.min.css' %}" rel="stylesheet">
    <link href='netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <!-- css 変更中だが一度Html上にdjangoでの記述での確認のため -->
    <link rel="stylesheet" href="{% static 'assets/css/flat-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">  
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
    <!-- font -->
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>


<body>

<footer class="nb-footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="footer-info-single">
          <h2 class="title">会社情報</h2>

          <ul class="follow-me">
            <li><a href="https://twitter.com"></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-info-single">
          <h2 class="title">サービス</h2>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-info-single">
          <h2 class="title">規約</h2>
          <ul class="list-unstyled">
                プライバシーポリシー</a></li>
        </div>
      </div>


    </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  <section class="copyright">
    <div class="container">
      <div class="text-center">
        <p>©️ 2017 444 Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
  </section>

</footer>


<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- Bootstrap -->
</body>
</html>