{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="header">
    <h1>Sign up</h1>
  </div>
  <div class="content">
    <form method="post">{% csrf_token %}
    <div class="form-position">
      <div class="nice-wrap">
        {{ form.username|add_class:'nice-textbox'|attr:'placeholder:お名前' }}
        {% if form.username.errors %}
          {{ form.username.errors }} 
        {% endif %}
        <label class="nice-label" for="Username"></label>
      </div>
    </div>
    <div class="form-position">
      <div class="nice-wrap">
        {{ form.email|add_class:'nice-textbox'|attr:'placeholder:email' }}
        {% if form.email.errors %}
          {{ form.email.errors }} 
        {% endif %}
        <label class="nice-label" for="Username"></label>
      </div>
    </div>
    <div class="form-position">
      <div class="nice-wrap">
        {{ form.password1|add_class:'nice-textbox'|attr:'placeholder:パスワード' }}
        {% if form.password1.errors %}
          {{ form.password1.errors }} 
        {% endif %}
        <label class="nice-label" for="Username"></label>
      </div>
    </div>
    <div class="form-position">
      <div class="nice-wrap">
        {{ form.password2|add_class:'nice-textbox'|attr:'placeholder:確認' }}
        {% if form.password2.errors %}
          {{ form.password2.errors }} 
        {% endif %}
        <label class="nice-label" for="Username"></label>
      </div>
    </div>
    <div class="form-position">
      <div class="nice-wrap-submit">
        <button type="submit" class="btn btn-outline-dark" type="submit" name="education_form">登録</button>
        <label class="nice-label" for="Username"></label>
      </div>
    </div>
  </form>
  </div>
</div>
  <!-- {{ form.first_name }}
<section class="common-form">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="submit">Sign up</button>
  </form>
</section>  -->
{% endblock %}